
        
                {{#each this}}
                <li class="list-group-item"> <img width="20px" height="20px" src="{{flags.svg}}" alt="{{name.official}}"> {{name.official}}</li>
                {{/each}}
        