<div>
        {{#each this}}
        <li class="list-group-item"> <img class="list-group-item-image" width="25px" height="25px" src="{{flags.svg}}" alt="{{name.official}}">{{name.official}}</li>
        {{/each}}                
</div>